<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Table</title>
</head>
<body>
  <mat-spinner color="Red"></mat-spinner>
 

    <h2 style="text-align: center;">User Data Table</h2>

    

    <div style="text-align: center; margin-bottom: 20px;">
      <input 
        type="text" 
        [(ngModel)]="searchQuery" 
        placeholder="Search by name..." 
        style="padding: 5px; width: 200px;"
      >
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Location</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let User of filteredUsers">
          <td>{{ User.id }}</td>
          <td>{{ User.name }}</td>
          <td>{{ User.email }}</td>
          <td>{{ User.location }}</td>
          <td>
            <img 
              [src]="User.image" 
              [alt]="User.name" 
              width="50" 
              height="50"
              onerror="this.style.display='none'"
            >
          </td>
        </tr>
      </tbody>
    </table>
    
      

</body>
</html>